@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Set the default font for the entire application.
  The 'font-inter' utility is defined in tailwind.config.js
*/
body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Fixes a common issue with fixed elements and mobile safe areas */
:root {
  --ion-safe-area-top: env(safe-area-inset-top);
  --ion-safe-area-bottom: env(safe-area-inset-bottom);
}